<p>Service Confirmation <br>
------------------------</p>

<p>Thank you for using the service. Click this link to confirm your account:</p>

<p><%= config.host %>/confirm/<%= token %></p>

<p>If you have any problems with your account, you can get help
from us at <%= config.fromEmail %>.</p>

<p>Service Team</p>
